:root {
  font-family: poppins, sans-serif;
}
.header {
  background-color: #6c3483;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 32px;
  position: sticky;
  top: 0;
  left: 0;
  height: 56px;
  z-index: 1000;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  transition: box-shadow 0.2s;
}
.logo {
  width: 150px;
  padding: 5px;
  align-items: center;
  margin: 5px;
}
.nav-items > ul {
  display: flex;
  width: 400px;
  height: 5px;
  align-items: center;
  padding: 20px;
}

.nav-items > ul > li {
  font-weight: bold;
  list-style: none;
  flex: 1;
  justify-content: center;
  text-align: center;
  color: #fff;
  margin: 0 16px;
}
.restaurant-logo {
  width: 100%;
  height: 150px;
  border-radius: 5px;
}
.restaurant-card {
  background-color: #dccee9;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 200px;
  border-radius: 5px;
  margin: 5px;
  padding: 16px;
  border: 1px solid black;
}
.restaurant-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.restaurant-list-container {
  display: flex;
  flex-wrap: wrap;
  margin: 5px;
}
